 .header{
    padding: 2em 0;
    background: $background-page;
}


.image__logo{
    img{
        height: 70px;
        width: 80px;
        padding: 10px;
        background-position: center;
        background-size: contain;
        border-radius:23px;
        background-repeat: no-repeat;
    }
}

.nav-link{
    font-family: $basefont;
}